
#carouselTresLeches {
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}

#carouselQuequeSeco {
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}
#carouselExample {
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}
#carouselArreglos {
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}

#carouselCupcakes{
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}

#carouselCombos
{
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}


#carouselBabyShower
{
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}

#carouselBodas
{
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}
#carouselPersonalizados
{
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}
#carouselPrimeraComunion
{
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}
#carouselQuinceaños
{
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}
#carouselMesasDulces
{
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}
#carouselOtros
{
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}
#carouselTortaChilena
{
    width: 400px; /* O puedes poner un valor fijo como 1200px */
    max-width: 1200px; /* Ajusta el ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el carrusel en la página */
}