
#carouselTresLeches {
    width: 400px; 
    max-width: 1200px; 
    margin: 0 auto; 
}
#carouselQuequeSeco {
    width: 400px; 
    max-width: 1200px; 
    margin: 0 auto; 
}
#carouselExample {
    width: 400px; 
    max-width: 1200px;
    margin: 0 auto; 
}
#carouselArreglos {
    width: 400px; 
    max-width: 1200px; 
    margin: 0 auto; }

#carouselCupcakes{
    width: 400px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

#carouselCombos
{
    width: 400px; 
    max-width: 1200px; 
    margin: 0 auto;
}


#carouselBabyShower
{
    width: 400px; 
    max-width: 1200px; 
    margin: 0 auto; }

#carouselBodas
{
    width: 400px; 
    max-width: 1200px; 
    margin: 0 auto; 
}
#carouselPersonalizados
{
    width: 400px; 
    max-width: 1200px; 
    margin: 0 auto;
}
#carouselPrimeraComunion
{
    width: 400px; 
    max-width: 1200px;
    margin: 0 auto; 
}
#carouselQuinceaños
{
    width: 400px; 
    max-width: 1200px; 
    margin: 0 auto; 
}
#carouselMesasDulces
{
    width: 400px; 
    max-width: 1200px; 
    margin: 0 auto; 
}
#carouselOtros
{
    width: 400px; 
    max-width: 1200px; 
    margin: 0 auto; 
}
#carouselTortaChilena
{
    width: 400px; 
    max-width: 1200px;
    margin: 0 auto; 
}