

h1, h2, h3 {
    color: #6f4f37; /* Color café */
}
.imagen {
    width: 100%;
    margin: 0;
    padding: 0;
}

.imagen {
    width: 100%;
    height: 700px;
    display: flex;
}



.Menu {
    text-align: center;
    padding: 30px;
}

.Normal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 30px; 
    padding: 20px;
}

/* Estilo de los items (cada producto) */
.item {
    background-color: #f2d6c4; /* Color rosa claro */
    padding: 20px;
    border-radius: 10px;
    width: 30%;  /* Ajustamos el ancho para que tres divs quepan en una fila */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;  /* Asegura que el padding no afecte el tamaño del ancho */
}

.item img {
    width: 100%;    /* La imagen ocupará el 100% del contenedor */
    height: 300px;  /* Tamaño fijo para la altura */
}

/* Estilo de los botones */
button {
    background-color: #6f4f37; /* Color café */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #9e7b5d; /* Café más claro */
}

.item h3 {
    color: #6f4f37;
}


.item button {
    display: block;
    margin: 10px auto;
}

.letra {
        position: absolute; 
        top: 50%;  /* Asegura que se mantenga en el centro vertical */
        left: 20px; /* Mantiene el texto un poco alejado de los bordes */
        transform: translateY(-27px); /* Esto mantiene el texto centrado verticalmente */
        font-size: 2rem;
        font-weight: bold;
        z-index: 10;
        animation: salto 1s ease-out; }
.letra h2{
  color: white;
}
    
    @keyframes salto {
        0% {
            transform: translateY(30px); /* Comienza un poco hacia abajo */
            opacity: 0;
        }
        50% {
            transform: translateY(-20px); /* Sube un poco */
            opacity: 1;
        }
        100% {
            transform: translateY(-27px); /* Termina un poco más arriba */
        }
    }

/* Para pantallas pequeñas, ajustamos el diseño */
@media (max-width: 768px) {
    .item {
        width: 45%;  /* Hacemos los divs más pequeños para pantallas medianas */
    }
}

@media (max-width: 480px) {
    .item {
        width: 90%;  /* Para pantallas muy pequeñas (móviles), hacemos que los divs ocupen casi todo el ancho */
    }
}
