.Reseñas h2 {
    color: #6F4F37;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

.Reseñas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

img{
	max-width: 100%;
}
img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.gallery{
	padding: 80px 0;
}
.gallery img{
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}